@import 'tailwindcss';

:root {
	--primary: #4e95f2;
	--secondary: #26d9e3;
	--tertiary: #8101b3;
	--error: #cc0202;
	--warn: #e49000;
	--success: #4bfc28;
	--gray: #280c0c;
	--black: #101010;
	--white: #ffffff;

	--background: #fffee9;
	--background-secondary: #ffffff;
	--text: #0f172a;
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #191b1f;
    --background-secondary: #0f1117;
    --text: #ffffff;
  }
} */

input[type='color'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
}

input[type='color']:focus {
	outline: none;
}

@layer utilities {
	.container {
		@apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
	}

	body::-webkit-scrollbar {
		width: 8px;
	}

	body::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	body::-webkit-scrollbar-thumb {
		background: var(--primary);
		border-radius: 4px;
	}

	body::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-tertiary: var(--tertiary);
	--color-background: var(--background);
	--color-background-secondary: var(--background-secondary);
	--color-text: var(--text);
	--color-error: var(--error);
	--color-warn: var(--warn);
	--color-success: var(--success);
	--color-gray: var(--gray);
	--color-black: var(--black);
	--color-white: var(--white);
	--breakpoint-sm: 10rem;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	background-color: var(--background);
	color: var(--text);
}
